venv
**/__pycache__
**/.pycache
**/.terraform
**/.terraform*
**/function.zip
**/*.tfstate*
dependencies/
packages/
**/*.hcl
test/test_database.ini
test/test_database.sql
requirements.txt
!*.tftest.hcl
.env
test/test_process_database.ini
test/test_process_database.sql
test/test_load/test_load_database.ini