venv
**/__pycache__
**/.pycache
**/.terraform
**/.terraform*
**/function.zip
**/*.tfstate*
dependencies/
packages/
**/*.hcl
test_database/test_database.txt
test_database/test_database.ini
test_database